{% extends "home/base.html" %} {% load static %} {% block content_home %}
<div class="auth-main v1">
    <div class="auth-wrapper">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static "/images/authentication/img-auth-reset-password.png" %}" alt="images" class="img-fluid mb-3" />
                        <h4 class="f-w-500 mb-1">Reset password</h4>
                        <p class="mb-3">Back to <a href="login-v1.html" class="link-primary ms-1">Log in</a></p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="floatingInput" placeholder="Password" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="floatingInput1" placeholder="Confirm Password" />
                    </div>
                    <div class="d-grid mt-4">
                        <button type="button" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth-sidefooter">
            <img src="{% static "/images/logo-dark.svg" %}" class="img-brand img-fluid" alt="images" />
            <hr class="mb-3 mt-4"/>
            <div class="row">
                <div class="col my-1">
                    <p class="m-0">Made with ♥ by  MASS</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_home %}
