{% extends "base.html" %} {% load static %} {% block content %}
<div class="pc-container">
    <div class="pc-content">
        <!-- [ Main Content ] start -->
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 me-1">
                <div class="card statistics-card-1 bg-warning-subtle">
                    <div class="card-body">
                        <img src="{% static "images/widget/img-status-9.svg" %}" alt="img" class="img-fluid img-bg">
                        <div class="d-flex align-items-center">
                            <div style="background-color: #ffd700" class="avtar text-white me-3">
                                <i class="bi bi-trophy-fill f-26 p-4"></i>
                            </div>
                            <div class="col-3 col-sm-3">
                                <p class="text-muted mb-0">Score</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">100</h2>
                                </div>
                            </div>
                            <div class="col-9 col-sm-5">
                                <p class="text-muted mb-0">Name</p>
                                <div class="d-flex align-items-center">
                                    <img src="{% static "/images/user/avatar-1.jpg" %}" alt="" class="img-fluid wid-40 rounded-1">
                                    <h4 style="color: black" class="mb-0 ms-2">Samet</h4>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="text-muted mb-0">Lose</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">1</h2>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="text-muted mb-0">Win</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">10</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card statistics-card-1 bg-dark-subtle">
                    <div class="card-body">
                        <img src="{% static "images/widget/img-status-7.svg" %}" alt="img" class="img-fluid img-bg">
                        <div class="d-flex align-items-center">
                            <div style="background-color: #c0c0c0" class="avtar text-white me-3">
                                <i class="bi bi-2-square f-26 p-4"></i>
                            </div>
                            <div class="col-3 col-sm-3">
                                <p class="text-muted mb-0">Score</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">90</h2>
                                </div>
                            </div>
                            <div class="col-9 col-sm-5">
                                <p class="text-muted mb-0">Name</p>
                                <div class="d-flex align-items-center">
                                    <img src="{% static "/images/user/avatar-2.jpg" %}" alt="" class="img-fluid wid-40 rounded-1">
                                    <h4 style="color: black" class="mb-0 ms-2">Adem</h4>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="text-muted mb-0">Lose</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">2</h2>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="text-muted mb-0">Win</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">9</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div style="background-color: #efba86" class="card statistics-card-1">
                    <div class="card-body">
                        <img src="{% static "images/widget/img-status-5.svg" %}" alt="img" class="img-fluid img-bg">
                        <div class="d-flex align-items-center">
                            <div style="background-color: #cd7f32" class="avtar text-white me-3">
                                <i class="bi bi-3-square f-26 p-4"></i>
                            </div>
                            <div class="col-3 col-sm-3">
                                <p class="text-muted mb-0">Score</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">80</h2>
                                </div>
                            </div>
                            <div class="col-9 col-sm-5">
                                <p class="text-muted mb-0">Name</p>
                                <div class="d-flex align-items-center">
                                    <img src="{% static "/images/user/avatar-4.jpg" %}" alt="" class="img-fluid wid-40 rounded-1">
                                    <h4 style="color: black" class="mb-0 ms-2">Salih</h4>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="text-muted mb-0">Lose</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">2</h2>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="text-muted mb-0">Win</p>
                                <div class="d-flex align-items-end">
                                    <h2 style="color: black" class="mb-0 f-w-500">8</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Lose</th>
                                    <th>Win</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-5.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">Alice</h6>
                                        </div>
                                    </td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-7.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">John Doe</h6>
                                        </div>
                                    </td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-8.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">Doe</h6>
                                        </div>
                                    </td>
                                    <td>8</td>
                                    <td>3</td>
                                    <td>30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
</div>
{% endblock content %}
