{% load static %}
<div class="pc-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ Row 1 ] start -->
        <div class="col-sm-6 col-xl-4 col-xxl-4">
            <div class="card statistics-card-1">
                <div class="card-body">
                    <img src="{% static "images/widget/img-status-2.svg" %}" alt="img" class="img-fluid img-bg">
                    <div class="d-flex align-items-center">
                        <div class="avtar bg-success text-white me-3">
                            <i class="bi bi-trophy-fill f-26"></i>
                        </div>
                        <div>
                            <p class="text-muted mb-0">Kazanılan Maç</p>
                            <div class="d-flex align-items-end">
                                <h2 class="mb-0 f-w-500">54</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 col-xxl-4">
            <div class="card statistics-card-1">
                <div class="card-body">
                    <img src="{% static "/images/widget/img-status-1.svg" %}" alt="img" class="img-fluid img-bg">
                    <div class="d-flex align-items-center">
                        <div class="avtar bg-danger text-white me-3">
                            <i class="bi bi-ban f-26"></i>
                        </div>
                        <div>
                            <p class="text-muted mb-0">Kaybedilen Maç</p>
                            <div class="d-flex align-items-end">
                                <h2 class="mb-0 f-w-500">29<small class="text-muted"></small></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-4">
            <div class="card statistics-card-1 bg-info">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="avtar bg-success text-white me-3">
                            <i class="ph-duotone ph-users-four f-26"></i>
                        </div>
                        <div>
                            <p class="text-muted mb-0 fw-bolder">Atılan Gol</p>
                            <div class="d-flex align-items-end">
                                <h2 class="mb-0 f-w-500 fw-bolder">500</h2>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="avtar bg-danger text-white me-3">
                            <i class="ph-duotone ph-users-four f-26"></i>
                        </div>
                        <div>
                            <p class="text-muted mb-0 fw-bolder">Yenilen Gol</p>
                            <div class="d-flex align-items-end">
                                <h2 class="mb-0 f-w-500 fw-bolder">278</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6 col-xxl-6">
            <div class="card statistics-card-1 bg-warning">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="d-flex align-items-end">
                                <h2 class="mb-0 f-w-500 fw-bolder">Single Player</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6 col-xxl-6">
            <div class="card statistics-card-1 bg-green-900">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="d-flex align-items-end">
                                <h2 class="mb-0 f-w-500 fw-bolder text-white">Online Mac</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Row 1 ] end -->
        <!-- [ Row 2 ] start -->
        <div class="col-xxl-6">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Tüm Maçlar</h5>
                </div>
                <div class="card-body py-3 px-0">
                    <div class="table-responsive affiliate-table">
                        <table class="table table-hover table-borderless mb-0">
                            <tbody>
                                <tr class="bg-light-success">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-2.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">John Doe</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0"><i class="bi bi-dot text-warning fs-4"></i> 19 may 17:30</p>
                                    </td>
                                    <td class="text-end f-w-600"><span class="badge text-bg-danger">7</span></td>
                                    <td class="text-start f-w-600"><span class="badge text-bg-success">9</span></td>
                                </tr>
                                <tr class="bg-light-success">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-3.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">Adeline</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0"><i class="bi bi-dot text-warning fs-4"></i> 15 may 11:30</p>
                                    </td>
                                    <td class="text-end f-w-600"><span class="badge text-bg-danger">5</span></td>
                                    <td class="text-start f-w-600"><span class="badge text-bg-success">10</span></td>
                                </tr>
                                <tr class="bg-light-danger">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-4.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">Lazaro</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0"><i class="bi bi-dot text-warning fs-4"></i> 11 may 12:30</p>
                                    </td>
                                    <td class="text-end f-w-600"><span class="badge text-bg-danger">10</span></td>
                                    <td class="text-start f-w-600"><span class="badge text-bg-success">5</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Arkadaş Listesi</h5>
                </div>
                <div class="card-body py-3 px-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-4.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">Adeline</h6>
                                        </div>
                                    </td>
                                    <td class="text-center gap-3 d-flex justify-content-center">
                                        <button class="btn btn-light-warning"><i class="bi bi-controller fs-4"></i></button>
                                        <button type="button" class="btn btn-light-info"><i class="bi bi-chat-dots fs-4"></i></button>
                                        <button type="button" class="btn btn-light-danger"><i class="bi bi-trash fs-4"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-5.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">Lazaro</h6>
                                        </div>
                                    </td>
                                    <td class="text-center gap-3 d-flex justify-content-center">
                                        <button class="btn btn-light-warning"><i class="bi bi-controller fs-4"></i></button>
                                        <button type="button" class="btn btn-light-info"><i class="bi bi-chat-dots fs-4"></i></button>
                                        <button type="button" class="btn btn-light-danger"><i class="bi bi-trash fs-4"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{% static "/images/user/avatar-2.jpg" %}" alt="" class="img-fluid wid-30 rounded-1">
                                            <h6 class="mb-0 ms-2">John Doe</h6>
                                        </div>
                                    </td>
                                    <td class="text-center gap-3 d-flex justify-content-center">
                                        <button class="btn btn-light-warning"><i class="bi bi-controller fs-4"></i></button>
                                        <button type="button" class="btn btn-light-info"><i class="bi bi-chat-dots fs-4"></i></button>
                                        <button type="button" class="btn btn-light-danger"><i class="bi bi-trash fs-4"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Row 2 ] end -->
    </div>
    <!-- [ Main Content ] end -->
</div>
